<div class="mynav ">
    <div class="navtabs-div">
        <div>
            <a href="/">
                <img src="../assets/logo.svg">
            </a>
        </div>
        <div class="navtabs">
            <a href="/" class="inactive-link" id="work">Work</a>
            <a href="/about" class="inactive-link" id="about">About</a>
            <a href="/art" class="inactive-link" id="art">Art</a>
            <a href="/assets/resume.pdf" target="_blank" class="inactive-link">Resume</a>
        </div>
    </div>
</div>